.container {
    padding: 0;
}

.main {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 0 4rem;
}

.mobilePadding {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.dcaRowContainer {
    padding: 4px 16px 4px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: stretch;

    margin: 1rem;
    text-align: left;
    color: inherit;
    text-decoration: none;
    border: 1px solid #eaeaea;
    border-radius: 10px;
    transition: color 0.15s ease, border-color 0.15s ease;
    height: 60px;
}

.navbarTitleContainer {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
}



.mainButton {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 16px 8px;
    object-fit: contain;
    border-radius: 9px;
    background-color: #1a5df5;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin-top: 32px;

    width: fit-content;
    cursor: pointer;
}

.mainButtonText {
    color: #ffffff;
    margin: 0;
    font-size: 20px;
}



.basicInput {
    border: 1px solid #afafaf;
    border-radius: 20px;
    font-size: 16px;
    padding: 4px;
    text-align: center;
    width: 80px;
    margin: 0 8px 0;
}

/*Main color: #3a70ed*/
.rowNoMarginNoPadding {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
    align-items: center;
    justify-content: center;
}

.colFlex1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
}

/*MAIN SECTION START*/
.mainBackground {
    width: 100%;
    height: 800px;
    flex-grow: 0;
    margin: 0;
    padding: 24px 0 0;
    background-image: radial-gradient(circle at 50% 50%, rgba(46, 121, 243, 0.7), #1459f4 49%);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.navbar {
    width: 100%;
    height: 80px;

    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 88px;
}

.navbarTitle {
    font-family: Roboto;
    font-size: 24px;
    font-weight: bold;
    text-align: left;
    color: #fff;
    margin: 0 0 0 8px;
}

.navbarIcon {
    margin-right: 8px;
    margin-left: 8px;
    cursor: pointer;
}

.getTokenText {
    cursor: pointer;
    margin: 0 8px 0 0;
    font-family: DMSans;
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #fff;
}

.mainTitle {
    margin: 0 0 32px;
    font-family: Inter;
    font-size: 60px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: left;
    color: #fff;
}

.mainText {
    font-family: OpenSans, sans-serif;
    font-size: 32px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.31;
    letter-spacing: normal;
    text-align: left;
    color: #fff;
    margin-top: 0;
}

.mainInnerContainer {
    padding: 30px 32px 0;
    border-radius: 16px;
    background-image: radial-gradient(circle at 50% 50%, rgba(255, 255, 255, 0), #fff 96%);
    width: 100%;
}

.mainInnerRow {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin: 0 0 32px;
    padding: 16px;
    border-radius: 12px;
    background-color: #fff;
}

.mainIcon {
    width: 40px;
    height: 40px;
}

.mainInnerNumber {
    flex-grow: 0;
    font-family: Inter;
    font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    color: #9c9cab;
    margin: 0 20px 0 16px;
    text-align: center;
}

.mainInnerText {
    font-family: OpenSans, sans-serif;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: 0;
    text-align: left;
    color: #000;
    margin: 0;
}

/*MAIN SECTION END*/

/* CREATE DCA START */
.createDcaContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    padding: 32px 64px 40px;
    border-radius: 20px;
    border: solid 1px #f0f1f3;
    background-color: #fff;
    width: 1240px;
    margin: -128px 0 0;

    box-shadow: rgba(100, 100, 111, 0.2) 0 7px 29px 0;
}

.dcaTitle {
    font-family: Inter;
    font-size: 24px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    text-align: left;
    color: #111827;
    margin-bottom: 8px;
}

.dcaCreationText {
    font-family: Inter;
    font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    text-align: left;
    color: #111827;
    margin-bottom: 0px;
}

.dcaNoText {
    font-family: Inter;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    text-align: left;
    color: #111827;
    margin-bottom: 0;
}

.rowNoMarginNoPadding {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
    align-items: center;
    justify-content: center;
}
